@keyframes fadeoutkeyframe {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeinkeyframe {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeout {
    opacity: 1;
    animation: fadeoutkeyframe 0.25s ease-in-out forwards;
}

.fadein {
    opacity: 0;
    animation: fadeinkeyframe 0.25s ease-in-out forwards;
}