@font-face {
    font-family: "Cinzel";
    src: url('/fonts/cinzel/Cinzel-VariableFont_wght.ttf');
}

:is(h1, h2, h3, h4, h5, h6) {
    font-family: Cinzel;
}

h1 {
    font-size: calc(1.625rem + 7vw) !important;
}
h2 {
    font-size: calc(1.4rem + 3vw) !important;
}